@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:ital@1&display=swap');


#content{
    background-color: #427AA1;
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: #EBF2FA;
    text-decoration: none;
    padding: 35px;
    
}

body {
    display: block;
    margin: 8px;
    font-size: 20px;
}

img{
    max-width: 100%;
}

nav{
    display: flex;
    justify-content: space-around;
}


.logo{
    width:100px;
    
}
nav a:hover{
    background-color:#A5BE00 ;
    color: #EBF2FA;
    font-family: "Raleway";
}

header{
    background-color: #679436;
    display:grid;
    grid-template-columns: 150px auto;
    font-family: "Raleway";
    
}
footer{
    background-color: #679436;
    color:#EBF2FA;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}
footer p a{
    color: #EBF2FA;
}
footer p a:hover{
    background-color: #A5BE00;
    color: #EBF2FA;
}


h1{
    font-family: "Playfair Display";
    text-align: center;
    color: #EBF2FA;
}

.br-flag{
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.hercules{
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.start{
    color: #EBF2FA;
    font-family: "Playfair Display";
    padding: 30px;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
a:hover {
    background-color: #ddd;
    color: black;
  }

.previous {
    background-color: #f1f1f1;
    color: black;
  }
  
.next {
    background-color: #A5BE00;
    color: white;
  }

.round {
    border-radius: 50%;
  }

/* style for page 2*/

h3{
    font-family: "Playfair Display";
    color: #EBF2FA;
    padding: 20px;
}

p{
    font-family: "Raleway";
    color:#EBF2FA;
    padding: 20px;
}

.all_foods{
    width: 500px;
    padding: 20px;
}

.brig{
    width: 400px;
    padding: 20px;
}


/*css for page 3*/
h4{
    font-family: "Playfair Display";
    color: #EBF2FA;
    text-align: center;

}
.tourist{
    text-align: center;
}
.spots{
    width: 500px;
    margin: auto;
    display: block;
}
/*for Contact Us page*/

form {
	margin: 0 auto;
	width: 50%;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

label {
	display: block;
	margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

input[type="submit"] {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #3e8e41;
}

@media screen and (max-width: 900px) {
    /* Adjust header layout */
    header {
        grid-template-columns: 1fr;
        text-align: center;
    }
    
    
    nav {
        display: block;
        margin: 0 auto;
    }
    nav a {
        display: block;
        padding: 10px;
    }
    .logo {
        margin: 0 auto;
    }
    /* Adjust section layout */
    .start {
        padding: 10px;
    }
    /* Adjust footer layout */
    footer {
        flex-direction: column;
        margin-top: 50px;
    }
    footer p {
        margin-bottom: 10px;
        text-align: center;
    }
    footer p a {
        display: block;
    }
    .all_foods .brig .spots {
        margin: 50px auto;
        width: 30%;
    }
    .br-flag{
        margin: 50px auto;
        width: 80%;
    }
    .hercules{
        margin: 50px auto;
        width: 80%;
    }
    
    

}
