@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:ital@1&display=swap');


#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color: #EBF2FA;
    text-decoration: none;
    padding: 35px;
    }


.logo{
    width:80px;
    
}
nav a:hover{
    background-color:#A5BE00 ;
    color: #ffffff;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
header{
    background-color: #679436;
}
footer{
    background-color: #679436;
    color:#EBF2FA;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}
footer p a{
    color: #EBF2FA;
}
footer p a:hover{
    background-color: #A5BE00;
}
main{
    background-color: #427AA1;
    max-width: 2600px;
    margin: 0 auto;
}
h1{
    font-family: "Raleway";
    text-align: center;
    color: #EBF2FA;
}
.br-flag{
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.start{
    color: #EBF2FA;
    font-family: "Playfair Display";
}