@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:ital@1&display=swap');


#content{
    background-color: #427AA1;
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: #EBF2FA;
    text-decoration: none;
    padding: 35px;
    
}

nav{
    display: flex;
    justify-content: space-around;
}


.logo{
    width:100px;
    
}
nav a:hover{
    background-color:#A5BE00 ;
    color: #EBF2FA;
}

header{
    background-color: #679436;
    display:grid;
    grid-template-columns: 150px auto;
    
}
footer{
    background-color: #679436;
    color:#EBF2FA;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}
footer p a{
    color: #EBF2FA;
}
footer p a:hover{
    background-color: #A5BE00;
}


h1{
    font-family: "Raleway";
    text-align: center;
    color: #EBF2FA;
}
.br-flag{
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.start{
    color: #EBF2FA;
    font-family: "Playfair Display";
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
  }

  .previous {
    background-color: #f1f1f1;
    color: black;
  }
  
  .next {
    background-color: #A5BE00;
    color: white;
  }

  .round {
    border-radius: 50%;
  }
  